body {
    margin:0 auto;
}

#navbar {
    background: green;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top:0;
    width:100%;
    font-size: 25px;
    z-index: 2;
    border-bottom: 1px solid black;
}

#navbar a {
    text-decoration: none;
    color:white;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
}

#navbar a:hover {
    background:orange;
    color: black;
}

#welcome-section {
    z-index: 1;
    position: absolute;
    background-image:url(../img/homepage.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width:100%;
    text-align: center;
    color: white;
}

#welcome-description {
    background: rgba(0,0,0,0.7) ;
    height: 60%;
    overflow: hidden;
    padding-top: 40vh;
    z-index: 2;
}
#welcome-section h1 {
    font-size: 50px;
    font-family: cursive;
    font-style: italic;
}

#welcome-section p {
    font-size: 25px;
}
#welcome-section a {
    background: green;
    text-decoration: none;
    color:white;
    padding:10px;
    border-radius: 10px;
}
#welcome-section a:hover {
    background: orange;
    color: black;
}

#projects {
    background: orange;
    padding-top: 50%;
    text-align: center;
    z-index: 5;
}


#project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#project-links a {
    text-decoration: none;
}

img {
    padding:15px;
    background: black;
    border-radius: 10px;
}

#project-links p {
    color: white;
    padding:10px;
    background: green;
    border-radius: 5px;
    border: 1px solid black;
}

#about {
    text-align: center;
    font-size: 20px;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
}

#fill {
    background: black;
    color: white;
    height: 500px;
    padding-left: 30%;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 20px;
}


input {
    width: 600px;
    height:50px;
    border-radius: 5px;
}

textarea {
    width: 600px;
    border-radius: 5px;
}

button {
    text-align: center;
    width:605px;
    height: 30px;
    border-radius: 3px;
    background: green;
    color: white;
    padding: 0;
    border: none;
    margin-top: 5px;
}
button:hover {
    background: orange;
    color: black;
}

#contact {
    border-top: 5px solid green;
    background: orange;
    text-align: center;
    padding-top: 20px;
    max-height: 62px;
}

#contact p{
    padding-bottom: 0;
    margin-bottom: 0;
}

#twitter {
    background: #00acee;
    color:white;
    transform: scale(2);
    padding:5px;
    border-radius: 3px;
    margin-right: 20px;
}

#IG {
    color:white;
    transform: scale(2);
    background: linear-gradient(35deg,blue,red,yellow);
    padding:5px;
    border-radius: 3px;
    margin-left: 20px;
}

#profile-link {
    color: black;
    background: white;
    transform: scale(2);
    padding: 5px;
    border-radius: 3px;
    margin-left: 40px;
}


@media (max-width:1600px ) {
    #project-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 30px;
    }

    #projects {
        background: orange;
        padding-top: 55%;
        text-align: center;
    }

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 28%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }

}


@media (max-width:1500px ) {
    #projects {
        background: orange;
        padding-top: 57%;
        text-align: center;
    }

}

@media (max-width:1400px ) {
    #projects {
        background: orange;
        padding-top: 60%;
        text-align: center;
    }

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 26%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }

}

@media (max-width:1350px ) {
    #projects {
        background: orange;
        padding-top: 63%;
        padding-bottom: 20px;
        text-align: center;
    }
    
    
img {
    padding:15px;
    background: black;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

#project-links p {
    color: white;
    padding:10px;
    background: green;
    border-radius: 5px;
    border: 1px solid black;
}


}

@media (max-width:1300px ) {
    #projects {
        background: orange;
        padding-top: 65%;
        text-align: center;
    }
}

@media (max-width:1250px ) {
    #projects {
        background: orange;
        padding-top: 67%;
        text-align: center;
    }
}

@media (max-width:1200px ) {


    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 22%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 70%;
        padding-bottom: 20px;
        text-align: center;
    }

}


@media (max-width:1150px ) {


    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 20%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 78%;
        padding-bottom: 20px;
        text-align: center;
    }

}


@media (max-width:1024px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 18%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 85%;
        padding-bottom: 50px;
        text-align: center;
    }
    
    img {
        padding:15px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px 250px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }
}


@media (max-width:950px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 15%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 90%;
        padding-bottom: 50px;
        text-align: center;
    }
    
    img {
        padding:15px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px 250px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }
}

@media (max-width:900px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 23%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 98%;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img {
        padding:15px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }

    input {
        width: 400px;
        height:50px;
        border-radius: 5px;
    }

    textarea {
        width:400px;
    }

    button {
        width:406px;
    }
}


@media (max-width:850px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 21%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 100%;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img {
        padding:15px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }

    input {
        width: 400px;
        height:50px;
        border-radius: 5px;
    }

    textarea {
        width:400px;
    }

    button {
        width:406px;
    }
}

@media (max-width:800px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 26%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 105%;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img {
        padding:15px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }

    input {
        width: 400px;
        height:50px;
        border-radius: 5px;
    }

    textarea {
        width:400px;
    }

    button {
        width:406px;
    }

    #welcome-section h1 {
        font-size: 40px;
        font-family: cursive;
        font-style: italic;
    }
}



@media (max-width:768px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 24%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 115%;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img {
        padding:15px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }

    input {
        width: 350px;
        height:50px;
        border-radius: 5px;
    }

    textarea {
        width:350px;
    }

    button {
        width:357px;
    }

    #welcome-section h1 {
        font-size: 35px;
        font-family: cursive;
        font-style: italic;
    }
}


@media (max-width:700px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 22%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 125%;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img {
        padding:15px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }

    input {
        width: 350px;
        height:50px;
        border-radius: 5px;
    }

    textarea {
        width:350px;
    }

    button {
        width:357px;
    }

    #welcome-section h1 {
        font-size: 30px;
        font-family: cursive;
        font-style: italic;
    }
}


@media (max-width:650px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 21%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 135%;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img {
        padding:15px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }

    input {
        width: 350px;
        height:50px;
        border-radius: 5px;
    }

    textarea {
        width:350px;
    }

    button {
        width:357px;
    }

    #welcome-section h1 {
        font-size: 30px;
        font-family: cursive;
        font-style: italic;
    }
}

@media (max-width:600px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 23%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 150%;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img {
        padding:10px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }

    input {
        width: 300px;
        height:50px;
        border-radius: 5px;
    }

    textarea {
        width:300px;
    }

    button {
        width:307px;
    }

    #welcome-section h1 {
        font-size: 30px;
        font-family: cursive;
        font-style: italic;
    }

    #project-links p {
        color: white;
        padding:5px;
        background: green;
        border-radius: 5px;
        border: 1px solid black;
    }
}


@media (max-width:580px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 19%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 155%;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img {
        padding:10px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }

    input {
        width: 300px;
        height:50px;
        border-radius: 5px;
    }

    textarea {
        width:300px;
    }

    button {
        width:307px;
    }

    #welcome-section h1 {
        font-size: 30px;
        font-family: cursive;
        font-style: italic;
    }

    #project-links p {
        color: white;
        padding:5px;
        background: green;
        border-radius: 5px;
        border: 1px solid black;
    }
}


@media (max-width:550px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 17%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 165%;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img {
        padding:10px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }

    input {
        width: 300px;
        height:50px;
        border-radius: 5px;
    }

    textarea {
        width:300px;
    }

    button {
        width:307px;
    }

    #welcome-section h1 {
        font-size: 30px;
        font-family: cursive;
        font-style: italic;
    }

    #project-links p {
        color: white;
        padding:5px;
        background: green;
        border-radius: 5px;
        border: 1px solid black;
    }
}


@media (min-width:500px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 20%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 170%;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img {
        padding:10px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }

    input {
        width: 300px;
        height:50px;
        border-radius: 5px;
    }

    textarea {
        width:300px;
    }

    button {
        width:307px;
    }

    #welcome-section h1 {
        font-size: 30px;
        font-family: cursive;
        font-style: italic;
    }

    #project-links p {
        color: white;
        padding:5px;
        background: green;
        border-radius: 5px;
        border: 1px solid black;
    }
}


@media (min-width:480px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 17%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 195%;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img {
        padding:10px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }

    input {
        width: 300px;
        height:50px;
        border-radius: 5px;
    }

    textarea {
        width:300px;
    }

    button {
        width:255px;
    }

    #welcome-section h1 {
        font-size: 30px;
        font-family: cursive;
        font-style: italic;
    }

    #project-links p {
        color: white;
        padding:5px;
        background: green;
        border-radius: 5px;
        border: 1px solid black;
    }
    
    
#navbar {
    background: green;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top:0;
    width:100%;
    font-size: 15px;
    z-index: 2;
    border-bottom: 1px solid black;
    padding-left:10px;
    padding-right:10px;
}
    
    #navbar a {
    text-decoration: none;
    color:white;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
    
}


@media (min-width:320px ) {

    #fill {
        background: black;
        color: white;
        height: 500px;
        padding-left: 17%;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    #projects {
        background: orange;
        padding-top: 195%;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img {
        padding:10px;
        background: black;
        border-radius: 10px;
        height: 150px;
        width: 150px;
    }
    
    #project-links {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-column-gap: 5px;
        grid-row-gap:50px;
    }

    input {
        width: 250px;
        height:50px;
        border-radius: 5px;
    }

    textarea {
        width:250px;
    }

    button {
        width:255px;
    }

    #welcome-section h1 {
        font-size: 30px;
        font-family: cursive;
        font-style: italic;
    }

    #project-links p {
        color: white;
        padding:5px;
        background: green;
        border-radius: 5px;
        border: 1px solid black;
    }
    
    
#navbar {
    background: green;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top:0;
    width:100%;
    font-size: 15px;
    z-index: 2;
    border-bottom: 1px solid black;
    padding-left:10px;
    padding-right:10px;
}
    
    #navbar a {
    text-decoration: none;
    color:white;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
    
}
